aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.0
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
colorama==0.4.1
contracts==0.1.0
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
Django==1.11.17
entrypoints==0.3
Flask==0.12.3
future==0.17.1
gunicorn==19.7.1
idna==2.7
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jedi==0.13.3
Jinja2==2.9.6
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.3.3
MarkupSafe==1.0
matplotlib==3.0.1
mistune==0.8.4
multidict==4.4.2
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.15.4
pandocfilters==1.4.2
parso==0.3.4
pickleshare==0.7.5
Pillow==8.1.2
pipenv==2018.11.26
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.8.2
PyContracts==1.8.12
pygame==1.9.4
Pygments==2.3.1
PyMySQL==0.9.3
pyparsing==2.3.0
pyrsistent==0.14.11
pyTelegramBotAPI==3.6.6
python-dateutil==2.7.5
pytz==2017.2
pywinpty==0.5.5
PyYAML==3.13
pyzmq==18.0.0
qtconsole==4.4.3
requests==2.7.0
Send2Trash==1.5.0
six==1.11.0
telebot==0.0.3
telepot==12.7
terminado==0.8.1
testpath==0.4.2
tornado==6.0.1
traitlets==4.3.2
urllib3==1.23
virtualenv==16.1.0
virtualenv-clone==0.5.3
virtualenvwrapper-win==1.2.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.1
widgetsnbextension==3.4.2
yarl==1.2.6
